<a href="https://colab.research.google.com/github/Kirknasty54/Big_Data_ICP_2/blob/main/Jackson_Kirkpatrick_ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

print("Youngest: ", min(ages))
print("Oldest: ", max(ages))

n = len(ages)
median = 0
if n % 2 == 0:
  median = (ages[n//2 -1] + ages[n//2]) / 2
else:
  median = ages[n//2]
print("Median Age: ", median)

sum = 0
for i in range (len(ages)):
  sum += ages[i]
sum /= len(ages)

print("Average age: ", sum)
print("Range = ", max(ages) - min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Youngest:  19
Oldest:  26
Median Age:  24.0
Average age:  22.8
Range =  7

In [ ]:
dog = {}
dog = {"Name" : "Mitch", "Color" : "Brown", "Breed" : "Beagle", "Legs" : 4,
       "Age" : 8}
student = {"First_Name" : "Jackson", "Last_Name" : "Kirkpatrick", "Gender" : "Male",
           "Age" : "20", "Marital Status" : "Dating", "Skills" : ["Programmer", "Software Engineer", "Mathmatician"],
           "Country" : "USA", "City" : "Warrensburg", "Address" : "254 South St"}
print("Length of student dict: ", len(student))
print("Student skills: ", student['Skills'])
print("Skills data type: ", type(student['Skills']))

student['Skills'].append("Communicator")
student['Skills'].append("Bilingual")
print("Updated skills: ", student['Skills'])

keyList = list(student.keys())
valueList = list(student.values())
print(list(student.keys()))
print(list(student.values()))

Length of student dict:  9
Student skills:  ['Programmer', 'Software Engineer', 'Mathmatician']
Skills data type:  <class 'list'>
Updated skills:  ['Programmer', 'Software Engineer', 'Mathmatician', 'Communicator', 'Bilingual']
['First_Name', 'Last_Name', 'Gender', 'Age', 'Marital Status', 'Skills', 'Country', 'City', 'Address']
['Jackson', 'Kirkpatrick', 'Male', '20', 'Dating', ['Programmer', 'Software Engineer', 'Mathmatician', 'Communicator', 'Bilingual'], 'USA', 'Warrensburg', '254 South St']

In [103]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))
it_companies.add('Twitter')
print(it_companies)
it_companies.update({'Samsung', 'Acer', 'Lenovo'})
print(it_companies)
it_companies.remove('Samsung')
print(it_companies)

print("Discard will raise an error if the value given in its parameter is not found.\n"
"Whereas remove will raise an error.")
C = A | B
print('Merged sets: ', C)
print("The intersection of A and B is: ", A.intersection(B))
print("A is a subset of B?: ", A.issubset(B))
print("A and B are disjointed sets?: ", A.isdisjoint(B))
D = B | A
print(C, '\n', D)
print("Symmetric difference is: ", A.symmetric_difference(B))

A.clear()
B.clear()
print(A)
print(B)
print("Length of age list: ", age, "\nLength of age set: ", set(age))

7
{'Facebook', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Google', 'Oracle', 'Twitter'}
{'Acer', 'Amazon', 'Samsung', 'Apple', 'IBM', 'Google', 'Oracle', 'Twitter', 'Lenovo', 'Facebook', 'Microsoft'}
{'Acer', 'Amazon', 'Apple', 'IBM', 'Google', 'Oracle', 'Twitter', 'Lenovo', 'Facebook', 'Microsoft'}
Discard will raise an error if the value given in its parameter is not found.
Whereas remove will raise an error.
Merged sets:  {19, 20, 22, 24, 25, 26, 27, 28}
The intersection of A and B is:  {19, 20, 22, 24, 25, 26}
A is a subset of B?:  True
A and B are disjointed sets?:  False
{19, 20, 22, 24, 25, 26, 27, 28}
 {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference is:  {27, 28}
set()
set()
Length of age list:  [22, 19, 24, 25, 26, 24, 25, 24]
Length of age set:  {19, 22, 24, 25, 26}

In [102]:
class Employee:
  numEmployee = 0

  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.numEmployee += 1

  @staticmethod
  def averageSalary(employees):
    avgSalary = 0
    for employee in employees:
      avgSalary += employee.salary
    return round(avgSalary / Employee.numEmployee, 2)

class FulltimeEmployee(Employee):
  def __init__(self, name, family, salary, department):
    super().__init__(name, family, salary, department)

e1 = Employee('Jared', 3, 125000, 'IT')
e2 = Employee('Kevin', 3, 250000, 'IT')
e3 = Employee('Samuel', 0, 200000, 'IT')
e4 = Employee('Mason', 2, 121250, 'IT')

e5 = FulltimeEmployee('Karen', 0, 100000, 'HR')
e6 = FulltimeEmployee('Xavier', 0, 100000, 'HR')
e7 = FulltimeEmployee('Sopiha', 0, 100000, 'HR')

eList = [e1, e2, e3, e4, e5, e6, e7]
print(Employee.averageSalary(eList))

142321.43